@media only screen and (min-width: 64em) {
	.site-main{
		padding-top: 7%;
	}
	
	.content{
		margin: 0 5%;
	}
	
	article{
		padding-bottom:2em;
	}
}

.continue-link{
	text-align:center;
}


.pagination-item{
	width:50%;
}


.pagination-item{
	&.older{
	float:left;
}
&.newer{
	float:right;
	text-align: right;
}
}

pre code {
     display: inline-block;
}

pre {
     overflow-x: auto;
}

.post-meta{
	font-size: small;
}
